* {
  padding: 0;
  margin: 0;
}

.calculator {
  border: 0.1rem solid black;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: grey;
  color: #fff;
  height: 15%;
  font-size: 2rem;
}

.keypad {
  height: 85%;
  width: 100%;
}

.display-result {
  padding-right: 0.5rem;
}

.rows {
  display: grid;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rowchange {
  display: grid;
  height: 20%;
  grid-template-columns: 2fr 1fr 1fr;
}

.key-silver {
  border: 1px solid  silver;
  background-color: rgb(218, 213, 213);
}

.key-silver:hover {
  background-color: gray;
}

.key-silver:active {
  background-color: rgb(218, 213, 213);
}

.key-orange {
  border: 1px solid silver;
  background-color: rgb(255, 136, 0);
}

.key-orange:hover {
  background-color: rgb(255, 34, 0);
}

.key-orange:active {
  background-color: rgb(255, 136, 0);
}

.quote {
  text-align: center;
  padding-inline: 2rem;
}
